<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forecaster</title>
    <style>
      body {
        font-family: sans-serif;
      }
      h3 {
        margin-bottom: 0;
      }
      .col {
        display: flex;
        flex-direction: column;
      }
      .row {
        display: flex;
      }
      .forecast-block {
        text-align: center;
        padding: 10px;
        min-width: 100px;
        max-width: 100px;
        border-right: 1px solid #ccc;
      }
    </style>
    <script src="/static/javascript/keyshape.min.js"></script>
  </head>
  <body>
    <h1>Predictions for {{ city }}</h1>
    <div class="row">
      {% for prediction in predictions %}
        <div class="col forecast-block">
          <h3>{{ prediction.forecast_for.strftime('%H') }}</h3>
          {% if prediction.forecast_for.strftime('%Y-%m-%d') != today %}
            <small>{{ prediction.forecast_for.strftime('%b %d') }}</small>
          {% endif %}
          <div style="margin-bottom: 15px">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 50" style="margin-top: 25px">
              <path d="M 0,50 {{ bell_curve_points(prediction.precipitation) }} 100,50 z" style="fill: #0066cc" />
            </svg>
            <div style="margin-top: 10px">
              Precipitation <br />
              {{ (prediction.precipitation.mu * 100)|round|int }}
              ± {{ (prediction.precipitation.sigma * 100)|round|int }}
            </div>
          </div>
          {% for probability in prediction.probabilities %}
            {% if probability.chance >= 5 %}
              <div>
                {% if probability.weather == "Sunny" %}
                  <img src="/static/svg/a_1_sunny.svg" />
                {% endif %}
                {% if probability.weather == "Clear" %}
                  {% if prediction.forecast_for.hour > 5 and prediction.forecast_for.hour < 20 %}
                    <img src="/static/svg/a_2_little_sunny.svg" />
                  {% else %}
                    <img src="/static/svg/a_4_night.svg" />
                  {% endif %}
                {% endif %}
                {% if probability.weather == "Cloudy" %}
                  <img src="/static/svg/b_2_cloudy.svg" />
                {% endif %}
                {% if probability.weather == "Showers" %}
                  {% include "svgs/c_1_rainy.svg" %}
                {% endif %}
                {% if probability.weather == "Rain" %}
                  {% include "svgs/c_2_heavy_rain.svg" %}
                {% endif %}
                {% if probability.weather == "T-Storms" %}
                  <img src="/static/svg/c_3_thunderstorm.svg" />
                {% endif %}
                {{ probability.weather }} {{ probability.chance }}%
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
